.ui-input-currency {
  position: relative;
  display: inline-block;
  width: inherit;
  background-color: #191919;
  border-radius: 6px;
  border-top: 1px solid #00bcd4;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  &__prefix {
    color: #fff;
    font-size: 16px;
    padding-left: 12px;
  }

  &__input {
    background-color: transparent;
    border-radius: 6px;
    border: none;
    color: #fff;
    padding: 11px 12px;
    width: 100%;
    outline: none;
    font-size: 16px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    -moz-appearance: textfield;
  }

  &__controls {
    position: absolute;
    right: 12px;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__arrow {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: url('src/assets/images/arrow-down-icon.svg?url') center / contain no-repeat;

    &--up {
      transform: rotate(180deg);
      margin-bottom: -4px;
    }

    &--down {
      margin-top: -4px;
    }
  }
}
