.ui-input {
  display: flex;
  align-items: center;
  background-color: #191919;
  border-radius: 6px;
  padding: 8px 12px;
  column-gap: 12px;

  &__icon {
    width: 16px;
    height: 16px;
    color: #fff;
  }

  &__field {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    line-height: 18px;

    &::placeholder {
      color: #999999;
    }
  }
}
