@use '../variables.scss' as *;

.ui-input {
  display: flex;
  align-items: center;
  background-color: $color-neutral-700;
  border-radius: 6px;
  padding: 8px 12px;
  column-gap: 12px;

  &__icon {
    width: 16px;
    height: 16px;
    color: $color-neutral-white;
  }

  &__field {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: $color-neutral-white;
    font-size: 14px;
    line-height: 18px;

    &::placeholder {
      color: $color-neutral-400;
    }
  }
}
