.ui-link {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  min-height: 18px;
  transition: 0.35s opacity;

  &:hover {
    opacity: 0.8;
  }

  &__caption {
    font-size: 12px;
    line-height: 18px;
    color: #fff;
  }

  &__icon {
    width: 16px;
    height: 16px;
  }
}
