@use '../variables.scss' as *;

.ui-select {
  position: relative;
  display: block;
  width: 100%;
  background-color: $color-neutral-700;
  border-radius: 6px;
  border-top: 1px solid $color-accent-800;
  box-sizing: border-box;

  &__inner {
    background-color: transparent;
    border-radius: 6px;
    border: none;
    color: $color-neutral-white;
    padding: 11px 12px;
    cursor: pointer;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    font-size: 16px;
  }

  &__option {
    color: $color-neutral-white;
    background-color: $color-neutral-700;
  }

  &__chevron {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    width: 16px;
    height: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: url('src/assets/images/arrow-down-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
  }
}
