@use '../variables.scss' as *;

.ui-switch {
  $self: &;

  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  position: relative;

  &__input {
    display: none;
  }

  &__slider {
    position: relative;
    width: 36px;
    height: 20px;
    background-color: $color-brand-blue;
    border-radius: 50px;
    flex-shrink: 0;

    // TODO: Example checking styles for switch
    // #{$self}__input:checked & {
    //     background-color: #00BFFF;
    // }

    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      background-color: $color-dark;
      border-radius: 50%;
      top: 4px;
      right: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

      // TODO: Example checking styles for switch
      // #{$self}__input:checked & {
      //     transform: translateX(30px);
      //     background-color: $color-dark;
      // }
    }
  }

  &__caption {
    color: $color-neutral-white;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    user-select: none;
  }
}
