<div class="shared-chart-info-preview">
  <div class="shared-chart-info-preview__info shared-chart-info-preview-info">
    <div class="shared-chart-info-preview-info__top">
      <div class="shared-chart-info-preview-info__group">
        <span class="shared-chart-info-preview-info__name"> MSFT </span>

        <h1 class="shared-chart-info-preview-info__title">Microsoft Corp NASDAQ</h1>
      </div>

      <div class="shared-chart-info-preview-info__actions">
        <button class="shared-chart-info-preview-info__action" aria-label="Toggle chart visibility">
          <img
            src="/src/assets/images/chart/eye-icon.svg"
            alt="Eye Icon"
            class="shared-chart-info-preview-info__icon"
          />
        </button>

        <button class="shared-chart-info-preview-info__action" aria-label="Set price alert">
          <img
            src="/src/assets/images/chart/bell-icon.svg"
            alt="Bell Icon"
            class="shared-chart-info-preview-info__icon"
          />
        </button>
      </div>
    </div>

    <div class="shared-chart-info-preview-info__amount shared-chart-info-preview-info-amount">
      <span class="shared-chart-info-preview-info-amount__value"> 406.32 </span>

      <div class="shared-chart-info-preview-info-amount__group">
        <span class="shared-chart-info-preview-info-amount__caption"> +2.24 </span>

        <span class="shared-chart-info-preview-info-amount__caption"> +0.26% </span>
      </div>
    </div>

    <div class="shared-chart-info-preview-info__subinfo shared-chart-info-preview-info-subinfo">
      <span class="shared-chart-info-preview-info-subinfo__caption"> After hours: </span>

      <span
        class="shared-chart-info-preview-info-subinfo__caption shared-chart-info-preview-info-subinfo__caption--type-danger"
      >
        406.83
      </span>

      <span
        class="shared-chart-info-preview-info-subinfo__caption shared-chart-info-preview-info-subinfo__caption--type-danger"
      >
        -0.27
      </span>

      <span
        class="shared-chart-info-preview-info-subinfo__caption shared-chart-info-preview-info-subinfo__caption--type-danger"
      >
        -0.07%
      </span>

      <span class="shared-chart-info-preview-info-subinfo__divider"> </span>

      <span
        class="shared-chart-info-preview-info-subinfo__caption shared-chart-info-preview-info-subinfo__caption--type-default"
      >
        19:59 04/26 EDT
      </span>
    </div>
  </div>

  <div class="shared-chart-info-preview__content">
    <div class="shared-chart-info-preview__options">
      <div class="shared-chart-info-preview__group">
        <span class="shared-chart-info-preview__caption"> Open </span>

        <span
          class="shared-chart-info-preview__value shared-chart-info-preview__value--status-danger"
        >
          401.23
        </span>
      </div>

      <div class="shared-chart-info-preview__group">
        <span class="shared-chart-info-preview__caption"> Low </span>

        <span
          class="shared-chart-info-preview__value shared-chart-info-preview__value--status-danger"
        >
          400.10
        </span>
      </div>

      <div class="shared-chart-info-preview__group">
        <span class="shared-chart-info-preview__caption"> High </span>

        <span
          class="shared-chart-info-preview__value shared-chart-info-preview__value--status-success"
        >
          408.36
        </span>
      </div>

      <div class="shared-chart-info-preview__group">
        <span class="shared-chart-info-preview__caption"> 52 wk high </span>

        <span class="shared-chart-info-preview__value"> 430.82 </span>
      </div>

      <div class="shared-chart-info-preview__group">
        <span class="shared-chart-info-preview__caption"> 52 wk low </span>

        <span class="shared-chart-info-preview__value"> 273.13 </span>
      </div>
    </div>

    <div class="shared-chart-info-preview__options">
      <div class="shared-chart-info-preview__group">
        <span class="shared-chart-info-preview__caption"> Avg Vol (3M) </span>

        <span
          class="shared-chart-info-preview__value shared-chart-info-preview__value--status-danger"
        >
          21.73M
        </span>
      </div>

      <div class="shared-chart-info-preview__group">
        <span class="shared-chart-info-preview__caption"> Shares Outstanding </span>

        <span
          class="shared-chart-info-preview__value shared-chart-info-preview__value--status-danger"
        >
          7.43B
        </span>
      </div>

      <div class="shared-chart-info-preview__group">
        <span class="shared-chart-info-preview__caption"> Mkt Cap </span>

        <span
          class="shared-chart-info-preview__value shared-chart-info-preview__value--status-success"
        >
          3.02T
        </span>
      </div>

      <div class="shared-chart-info-preview__group">
        <span class="shared-chart-info-preview__caption"> Div Yield </span>

        <span class="shared-chart-info-preview__value"> 0.74% </span>
      </div>
    </div>
  </div>
</div>
