<div class="shared-summary-info" role="region" aria-label="Trade Summary Information">
  <div class="shared-summary-info__item">
    <span class="shared-summary-info__caption">Buying Power</span>

    <span class="shared-summary-info__value" aria-label="Buying Power Amount">$122,912.50</span>
  </div>

  <div class="shared-summary-info__item">
    <span class="shared-summary-info__caption">Transaction Fees</span>

    <span class="shared-summary-info__value" aria-label="Transaction Fees Amount">$4.00</span>
  </div>

  <div class="shared-summary-info__item">
    <span class="shared-summary-info__caption">Estimated Total</span>

    <span class="shared-summary-info__value" aria-label="Estimated Total Amount">$40,000</span>
  </div>
</div>
