<section class="layout-chart-panel">
  <div class="layout-chart-panel__tabs layout-chart-panel-tabs" role="tablist">
    <div class="layout-chart-panel-tabs__item layout-chart-panel-tabs__item--is-active">
      <button
        class="layout-chart-panel-tabs__action layout-chart-panel-tabs__action--is-active"
        role="tab"
        aria-selected="true"
        aria-controls="chart-panel"
      >
        Chart
      </button>
    </div>

    <div class="layout-chart-panel-tabs__item">
      <button
        class="layout-chart-panel-tabs__action"
        role="tab"
        aria-selected="false"
        aria-controls="options-panel"
      >
        Options
      </button>
    </div>

    <div class="layout-chart-panel-tabs__item">
      <button
        class="layout-chart-panel-tabs__action"
        role="tab"
        aria-selected="false"
        aria-controls="news-panel"
      >
        News
      </button>
    </div>

    <div class="layout-chart-panel-tabs__item">
      <button
        class="layout-chart-panel-tabs__action"
        role="tab"
        aria-selected="false"
        aria-controls="financials-panel"
      >
        Financials
      </button>
    </div>

    <div class="layout-chart-panel-tabs__item">
      <button
        class="layout-chart-panel-tabs__action"
        role="tab"
        aria-selected="false"
        aria-controls="analysts-panel"
      >
        Analysts
      </button>
    </div>

    <div class="layout-chart-panel-tabs__item">
      <button
        class="layout-chart-panel-tabs__action"
        role="tab"
        aria-selected="false"
        aria-controls="risk-panel"
      >
        Risk Analysis
      </button>
    </div>

    <div class="layout-chart-panel-tabs__item">
      <button
        class="layout-chart-panel-tabs__action"
        role="tab"
        aria-selected="false"
        aria-controls="releases-panel"
      >
        Releases
      </button>
    </div>

    <div class="layout-chart-panel-tabs__item">
      <button
        class="layout-chart-panel-tabs__action"
        role="tab"
        aria-selected="false"
        aria-controls="notes-panel"
      >
        Notes
      </button>
    </div>

    <div class="layout-chart-panel-tabs__item">
      <button
        class="layout-chart-panel-tabs__action"
        role="tab"
        aria-selected="false"
        aria-controls="profile-panel"
      >
        Profile
      </button>
    </div>
  </div>
</section>
