<header class="layout-header">
  <div class="layout-header__info">
    <div class="layout-header__profile-preview layout-header-profile-preview">
      <div class="layout-header-profile-preview__wrapper">
        <div class="layout-header-profile-preview__action">
          <img
            src="/src/assets/images/arrow-down-icon.svg"
            alt="Arrow Down Icon"
            class="layout-header-profile-preview__icon"
          />

          <img
            src="/src/assets/images/header/avatar.png"
            alt="Avatar"
            class="layout-header-profile-preview__avatar"
          />
        </div>

        <div class="layout-header__inner layout-header-inner layout-header-inner--is-alternative">
          <span class="layout-header-inner__caption"> Portfolio Balance </span>

          <span class="layout-header-inner__amount"> $623,098.17 </span>
        </div>
      </div>

      <div class="layout-header-profile-preview__divider"></div>

      <img
        src="/src/assets/images/bell-icon.svg"
        alt="Bell Icon"
        class="layout-header-profile-preview__icon"
      />
    </div>

    <div class="layout-header__inner layout-header-inner">
      <span class="layout-header-inner__caption"> Portfolio Balance </span>

      <span class="layout-header-inner__amount"> $623,098.17 </span>
    </div>

    <div class="layout-header__inner layout-header-inner">
      <span class="layout-header-inner__caption"> Available Funds </span>

      <span class="layout-header-inner__amount"> $122,912.50 </span>
    </div>
  </div>

  <div id="header-search" class="layout-header__search"></div>
</header>
