<aside class="layout-sidebar">
  <!-- Logo -->
  <img src="/src/assets/images/logo-icon.svg" alt="TradeX Logo" class="layout-sidebar__logo" />

  <!-- Main Navigation -->
  <nav class="layout-sidebar__navigations layout-sidebar-navigations">
    <a href="#" class="layout-sidebar-navigations__item">
      <img
        src="/src/assets/images/sidebar/eye-icon.svg"
        alt="Eye Icon"
        class="layout-sidebar-navigations__icon"
      />
    </a>

    <a href="#" class="layout-sidebar-navigations__item">
      <img
        src="/src/assets/images/sidebar/global-icon.svg"
        alt="Global Icon"
        class="layout-sidebar-navigations__icon"
      />
    </a>

    <a
      href="#"
      class="layout-sidebar-navigations__item layout-sidebar-navigations__item--is-active"
    >
      <img
        src="/src/assets/images/sidebar/trade-icon.svg"
        alt="Trade Icon"
        class="layout-sidebar-navigations__icon"
      />
    </a>

    <a href="#" class="layout-sidebar-navigations__item">
      <img
        src="/src/assets/images/sidebar/wallet-icon.svg"
        alt="Wallet Icon"
        class="layout-sidebar-navigations__icon"
      />
    </a>

    <a href="#" class="layout-sidebar-navigations__item">
      <img
        src="/src/assets/images/sidebar/partners-icon.svg"
        alt="Partners Icon"
        class="layout-sidebar-navigations__icon"
      />
    </a>
  </nav>

  <!-- Bottom Navigation -->
  <nav
    class="layout-sidebar__navigations layout-sidebar__navigations--is-bottom layout-sidebar-navigations"
  >
    <a href="#" class="layout-sidebar-navigations__item">
      <img
        src="/src/assets/images/sidebar/settings-icon.svg"
        alt="Settings Icon"
        class="layout-sidebar-navigations__icon"
      />
    </a>

    <a href="#" class="layout-sidebar-navigations__item">
      <img
        src="/src/assets/images/sidebar/mail-icon.svg"
        alt="Mail Icon"
        class="layout-sidebar-navigations__icon"
      />
    </a>

    <a href="#" class="layout-sidebar-navigations__item">
      <img
        src="/src/assets/images/sidebar/faq-icon.svg"
        alt="FAQ Icon"
        class="layout-sidebar-navigations__icon"
      />
    </a>
  </nav>
</aside>
