@use '../variables.scss' as *;

.layout-sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 8px;
  height: 100vh;
  background-color: $color-neutral-900;
  border-right: 1px solid $color-neutral-600;

  &__logo {
    width: 32px;
    height: 32px;
    display: block;
  }

  &__navigations {
    padding-top: 64px;

    &--is-bottom {
      padding-top: 0;
    }
  }
}

.layout-sidebar-navigations {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: transparent;
    color: $color-secondary-700;
    cursor: pointer;
    transition:
      background-color 0.2s,
      color 0.2s,
      border-color 0.2s;

    &:hover:not(&--is-active) {
      background-color: $color-secondary-800;
      color: $color-neutral-white;
    }

    &--is-active {
      border: 2px solid $color-accent-900;
      color: $color-accent-900;
      background-color: $color-secondary-900;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    display: block;
  }
}
