.shared-badge {
  font-size: 12px;
  line-height: 1;
  padding-right: 6px;
  padding-left: 6px;
  background-color: transparent;
  border: 1px solid #00bddd;
  color: #00bddd;
  border-radius: 50px;
}
