@use '../variables.scss' as *;

.shared-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__action {
    padding: 16px;
    background-color: transparent;
    border: none;
    flex-grow: 1;
    color: $color-neutral-400;
    border-bottom: 1px solid $color-neutral-400;
    cursor: pointer;
    transition: 0.35s opacity;

    &:hover:not(&--is-active) {
      opacity: 0.8;
    }

    &--is-active {
      color: $color-green;
      border-bottom-width: 2px;
      border-bottom-color: $color-green;
      background-image: linear-gradient(
        to bottom,
        $color-neutral-800,
        $color-accent-600 95%,
        $color-green 70%
      );
    }
  }
}
