<div class="ui-fast-buttons" role="group" aria-label="Quick amount selection">
  <div class="ui-fast-buttons__actions">
    <button class="ui-fast-buttons__action" aria-label="Set amount to 10">
      <span class="ui-fast-buttons__caption"> 10 </span>
    </button>

    <button class="ui-fast-buttons__action" aria-label="Set amount to 50">
      <span class="ui-fast-buttons__caption"> 50 </span>
    </button>

    <button class="ui-fast-buttons__action" aria-label="Set amount to 100">
      <span class="ui-fast-buttons__caption"> 100 </span>
    </button>

    <button class="ui-fast-buttons__action" aria-label="Set amount to 500">
      <span class="ui-fast-buttons__caption"> 500 </span>
    </button>
  </div>

  <button class="ui-fast-buttons__edit-action" aria-label="Edit quick amounts">
    <img src="src/assets/images/edit-icon.svg" alt="Edit Icon" class="ui-fast-buttons__edit-icon" />
  </button>
</div>
