<div class="ui-input-number" role="spinbutton">
  <input type="number" class="ui-input-number__input" value="100" aria-label="Enter number" />

  <div class="ui-input-number__controls" role="group" aria-label="Number controls">
    <div
      class="ui-input-number__arrow ui-input-number__arrow--up"
      role="button"
      aria-label="Increase value"
    ></div>
    <div
      class="ui-input-number__arrow ui-input-number__arrow--down"
      role="button"
      aria-label="Decrease value"
    ></div>
  </div>
</div>
