<div class="ui-input-currency" role="spinbutton">
  <span class="ui-input-currency__prefix">$</span>

  <input
    type="number"
    class="ui-input-currency__input"
    value="400.00"
    aria-label="Enter currency amount"
  />

  <div class="ui-input-currency__controls" role="group" aria-label="Currency controls">
    <div
      class="ui-input-currency__arrow ui-input-currency__arrow--up"
      role="button"
      aria-label="Increase value"
    ></div>

    <div
      class="ui-input-currency__arrow ui-input-currency__arrow--down"
      role="button"
      aria-label="Decrease value"
    ></div>
  </div>
</div>
